
@{
    ViewBag.Title = "Vista";
    Layout = "~/Views/Shared/_Layout.cshtml";
}



<section>
    <div class="container">
        <div class="row">
            <div class="col text-center text-uppercase">
                <h2 class="h6">Vista No.2</h2>

            </div>

        </div>


    </div>



</section>
